# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Data files (adjust as needed)
*.csv
*.tsv
*.sqlite3
*.db
*.zip

# OS-specific files
.DS_Store

# IDE settings
.vscode/
.idea/

# Folder
player_scores/

# Git
# .git/